<div class="row">
    <div class="col-2">
        <div class="container">
            foto
        </div>
    </div>
    <div class="col partition-left">
        <div class="container">
            <div class="row">
                input
            </div>
            <div class="row">
                <div class="col-10">
                    <!-- ajustar aqui -->
                    other options
                </div>
                <div class="col-2">
                    button
                </div>
            </div>
        </div>
    </div>
</div>