<div class="conteudo">

    <h2>Login:</h2>

    <form class="example-form">

        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Insira seu e-mail" [(ngModel)]="model.email" name="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Insira sua senha" [(ngModel)]="model.senha" name="senha">
        </mat-form-field>

        <br>
        <br>

        <button class="button-login" mat-raised-button color="primary">Entrar</button>

    </form>
</div>